example.flow
[{"id":"5a7e3d2e.8f5d94","type":"upnp-action","z":"cffd63cb.2fd64","url":"","name":"UPNP Action","x":550,"y":420,"wires":[["acb2c753.6f8ce8"]]},{"id":"acb2c753.6f8ce8","type":"debug","z":"cffd63cb.2fd64","name":"","active":true,"console":"false","complete":"false","x":750,"y":420,"wires":[]},{"id":"f017bcc4.eafef","type":"inject","z":"cffd63cb.2fd64","name":"Device Description","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":360,"wires":[["bddb88fe.118768"]]},{"id":"bddb88fe.118768","type":"function","z":"cffd63cb.2fd64","name":"","func":"msg.topic = \"getDeviceDescription\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["5a7e3d2e.8f5d94"]]},{"id":"860ba991.e78bc8","type":"inject","z":"cffd63cb.2fd64","name":"Service Description","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":420,"wires":[["27966d3e.bf2ae2"]]},{"id":"27966d3e.bf2ae2","type":"function","z":"cffd63cb.2fd64","name":"","func":"msg.payload = \"AVTransport\";\nmsg.topic = \"getServiceDescription\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["5a7e3d2e.8f5d94"]]},{"id":"93333996.380eb8","type":"inject","z":"cffd63cb.2fd64","name":"Play","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":480,"wires":[["6c157dfc.a898f4"]]},{"id":"6c157dfc.a898f4","type":"function","z":"cffd63cb.2fd64","name":"","func":"msg.payload = {};\nmsg.payload.action = 'Play';\nmsg.payload.serviceId = 'urn:upnp-org:serviceId:AVTransport';\nmsg.payload.params = { InstanceID: 0 };\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["5a7e3d2e.8f5d94"]]}]
