exampleAction.flow
[{"id":"9f241b6.308c7e8","type":"debug","z":"a8cb0e31.ca46","name":"","active":true,"console":"false","complete":"payload","x":750,"y":160,"wires":[]},{"id":"aa32b3e.9f1185","type":"function","z":"a8cb0e31.ca46","name":"","func":"msg.topic = \"getDeviceDescription\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["b0c01e9c.33757"]]},{"id":"a012a6c3.489e08","type":"inject","z":"a8cb0e31.ca46","name":"Device Description","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":100,"wires":[["aa32b3e.9f1185"]]},{"id":"30f19d50.f8b7a2","type":"inject","z":"a8cb0e31.ca46","name":"Service Description","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":160,"wires":[["9fa5ba21.ea9e28"]]},{"id":"9fa5ba21.ea9e28","type":"function","z":"a8cb0e31.ca46","name":"","func":"msg.payload = \"urn:schemas-upnp-org:service:AVTransport:1\";\nmsg.topic = \"getServiceDescription\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["b0c01e9c.33757"]]},{"id":"f0119f00.505ae","type":"function","z":"a8cb0e31.ca46","name":"","func":"msg.payload = {};\nmsg.payload.action = 'Play';\nmsg.payload.serviceType = 'urn:schemas-upnp-org:service:AVTransport:1';\nmsg.payload.params = { InstanceID: 0 };\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["b0c01e9c.33757"]]},{"id":"4cb5f40e.32782c","type":"inject","z":"a8cb0e31.ca46","name":"Play","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":220,"wires":[["f0119f00.505ae"]]},{"id":"b0c01e9c.33757","type":"upnp-invokeAction","z":"a8cb0e31.ca46","upnpConfiguration":"","name":"","x":540,"y":160,"wires":[["9f241b6.308c7e8"]]}]
